



<% if(success.length){ %> 
<div class="notification is-info is-light">
    <button class="delete"></button> <strong><%= success %> </strong>
    <i class="far fa-check-circle"></i>
</div>
  <% } %> 





<% if(error.length){ %> 
<%= error %> 
<% } %> 
