



<% if(success.length){ %> 
<div class="notification is-info is-light" style="padding-top: 70px;">
    <button class="delete"></button> <strong><%= success %> </strong>
    <i class="far fa-check-circle"></i>
</div>
  <% } %> 





<% if(error.length){ %> 
<%= error %> 
<% } %> 
