
        <footer class="margin-top-large footer">
            <div class="content has-text-centered">
              <p>
                <strong>TVShareApp</strong> by Zhengtao Hu</a>
              </p>
            </div>
          </footer>