<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/" >
     <strong>TV SHOW SHARE APP</strong> 
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/">
        Home
      </a>

      <a class="navbar-item" href="/movie">
        Show Search
      </a>

      <% if(user){ %> 
      <a class="navbar-item" href="/movie/user/<%= user.id %> ">
        My Show Collection
      </a>
      <% } %> 

    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">

          <% if(!user){ %> 
          <a class="button is-primary is-rounded is-outlined" href="/user/register">
            <strong>Sign up</strong>
          </a>
          <a class="button is-link is-rounded is-outlined" href="/user/login">
            Log in
          </a>
          <% }else{ %> 
            <p class="mr-5">Welcome Back: 
              <span class="has-text-weight-bold"><%= user.username %></span> 
              <span><i class="far fa-smile-wink"></i></span>
            </p>
          <a class="button is-light is-rounded" href="/user/logout">
            Log out
          </a>
          <% } %> 
        </div>
      </div>
    </div>
  </div>
</nav>