

<% layout('/layouts/boilerplate') %> 
<link rel="stylesheet" href="/css/login.css">

<div class="container is-fluid">


    <h1 class="center-text title m-5 is-size-2 is-size-6-mobile has-text-weight-bold">WELCOME TO MOVIE SHARE</h1>


    <form action="/user/login" method="POST">


            <div class="field">
                <label class="label" for="username">username</label>
                <input class="input" type="text" name="username" id="username">
            </div>


        <div class="field">
            
            <label class="label" for="email">email</label>
            <p class="control has-icons-left has-icons-right">
                <input class="input" type="email" name="email" id="email">

                <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                </span>

                <span class="icon is-small is-right">
                    <i class="fas fa-check"></i>
                </span>
            </p>
        </div>


        <div class="field">
            <label class="label" for="password">password</label>
            <p class="control has-icons-left">
            <input class="input"type="password" name="password" id="password">
            <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
            </span>
            </p>

        </div>
        <div>
            <button class="button is-fullwidth is-rounded is-primary mt-5 is-outlined">LOG IN</button>
        </div>


    </form>


    <h1 class="center-text title m-5 is-size-5 has-text-weight-semibold">OR</h1>

    <form action="/user/register">
        <button class="button is-fullwidth is-rounded is-info mt-5 is-outlined">SIGN UP</button>
    </form>
</div>