

<% layout('/layouts/boilerplate') %> 
<h1>LOG IN</h1>

<form action="/user/login" method="POST">

    <div class="field">
        <label class="label" for="username">username</label>
        <input type="text" name="username" id="username">
    </div>

    <div class="field">
        <label class="label" for="email">email</label>
        <input type="text" name="email" id="email">
    </div>

    <div class="field">
        <label class="label" for="password">password</label>
        <input type="text" name="password" id="password">
    </div>

    <div>
        <button>submit</button>
    </div>
</form>