
.movieCard{ 
    border: solid 1px white;
    transition: box-shadow 400ms ease-in-out;
}

.movieCard:hover{
    box-shadow: 5px 5px rgba(26, 25, 87,0.5);

}


.center-text{
    text-align: center;
    margin:auto
}

.large-title{
    font-size: 85px;
}



#color-change-title{
    transition: color 1500ms ease-in-out;
}



.margin-top-large{
    margin-top: 150px;
}


.reviewBox{
    margin-top: 15px;
    padding:10px;
    border-radius: 10px;
    border:solid 1px darkgray
}